.snake {
  /* border: 1px solid rgb(73, 73, 73); */
  border-radius: 3px;
}
.head {
  background-color: rgb(66, 66, 66);
}

.food {
  background-color: rgb(104, 30, 224);
  border-radius: 5px;
}

.animate-food {
  animation: animateFood 2s infinite;
}

@keyframes animateFood {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}
