.wrapper {
  width: fit-content;
  margin: auto;
  /* background-color: aquamarine; */
}

.header {
  text-align: center;
}

.game-title {
  font-size: 28px;
  font-weight: 500;
}

.score-text {
  margin: 10px 15px 0px 15px;
  text-align: center;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.instruction-text {
  color: #f44336;
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  line-height: 1.2rem;
}
